
.body{
    Font-family: inherit;
    font-family: "Roboto", sans-serif;
}

 


 /* основний color #212121 
тексту color2 #757575
color bily #FFFFFF
color blue #2196F3
color blak #000000
fon #F5F5F5; 
kontakty rgba(255, 255, 255, 0.6;*/


/* font-family: 'Roboto',
sans-serif;
font-weight: 400
font-weight: 500
font-weight: 700
font-weight: 900 */
